div {
	border: 1px red dashed;
}

@font-face {
    font-family: "triforce";
    src: url("../font/Triforce.ttf");
}

@font-face {
    font-family: "gannon";
    src: url("font/ReturnofGanon.ttf");
}


.container {
	height: 100vh;
	width: 100%;
	margin: auto;
	background-color: black;
}

.life-heading {
	margin: auto;
	padding-bottom: 30px;
}

.life {
	width: 450px;
	height: 200px;
	background-color: black;
	display: inline-block;
	float: left;
}

.empty, .full {
	width: 64px;
	height: 49px;
}

.empty {
	position: relative;
	background: url("../img/heart-empty.png") no-repeat center center;
	float: left;
}

.full {
	position: absolute;
	background: url("../img/heart-full.png") no-repeat center center;
}

.partial {
	clip-path: inset(0 100% 0 0);
	-webkit-clip-path: inset(0 100% 0 0);
}

.a, .b  {
	display: inline-block;
	float: left;
	width: 143px;
	height: 150px;
	color: #fcf7f7;
	text-align: center;
	font-size: 55px;
}

.a:hover, .b:hover {
	cursor: pointer;
}

.a {
	background: url("../img/a.png") no-repeat center center;
}

.b {
	background: url("../img/b.png") no-repeat center center;
}

.hidden {
	visibility: hidden;
}

i {
	padding-top: 60px;
}

.ruby {
	padding-bottom: 15px;
}

.score {
	font-size: 30px;
}

.time {
	display: inline-block;
	padding-left: 15px;
}

#time-remaining {
	color: green;
}

#break-remaining {
	color: gray;
}

.score img {
	width: 75px;
}

body {
	font-family: triforce;
	color: #fcf7f7;
}

h1 {
	font-size: 70px;
	padding-bottom: 20px;
}


